<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARvTMd0jF9p4jFYIU4y7N8jM-nEFARYpw</string>
	<key>GCM_SENDER_ID</key>
	<string>780069058288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groceryApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>freshmart-24788</string>
	<key>STORAGE_BUCKET</key>
	<string>freshmart-24788.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780069058288:ios:932ff5bf52c28cfd2eb435</string>
</dict>
</plist>